# --- PROJECT CONFIGURATION --- #

[build-system]
requires = ["setuptools>=69", "wheel", "setuptools-git-versioning>=1.13.3"]
build-backend = "setuptools.build_meta"

# Metadata (see https://peps.python.org/pep-0621/)
[project]
name = "india-api"
dynamic = ["version"] # Set automatically using git: https://setuptools-git-versioning.readthedocs.io/en/stable/
description = "India API for wind and solar data"
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.11.0"
license = {text = "MIT License"}
authors = [
    { name = "Sol Cotton", email = "sol@openclimatefix.org"}
]
classifiers = ["Programming Language :: Python :: 3"]
dependencies = [
    "cryptography >= 42.0.7",
    "fastapi >= 0.105.0",
    "pvsite-datamodel >= 1.0.37",
    "pyjwt >= 2.8.0",
    "pyproj >= 3.3.0",
    "pytz >= 2023.3",
    "structlog >= 23.2.0",
    "uvicorn >= 0.24.0",
    "numpy==1.26.4"
]

[project.optional-dependencies]
test = [
    "unittest-xml-reporting == 3.2.0",
    "pytest >= 8.0.0",
    "pytest-cov >= 4.1.0",
    "testcontainers == 3.7.1",
]
lint = [
    "mypy >= 1.7.1",
    "ruff >= 0.1.7",
]
vim = [
    "ruff-lsp >= 0.0.48",
    "python-lsp-server >= 1.9.0",
    "pylsp-mypy >= 0.6.8",
]
all = [
    "india-api[test,lint,vim]",
]

[project.urls]
repository = "https://github.com/openclimatefix/india-api"

[project.scripts]
india-api = "india_api.cmd.main:run"

[tool.setuptools]
include-package-data = false

[tool.setuptools-git-versioning]
enabled = true

# --- LINTING AND TYPING CONFIGURATION --- #

# MyPy configuration
# * See https://mypy.readthedocs.io/en/stable/index.html
[tool.mypy]
python_version = "3.11"
warn_return_any = true
disallow_untyped_defs = true

[tool.pylsp-mypy]
enabled = true
dmypy = true

# Ruff configuration
# * See https://beta.ruff.rs/docs/
[tool.ruff]
select = [
    "F",   # pyflakes
    "E",   # pycodestyle
    "W",   # whitespace and newlines
    "I",   # isort
    "UP",  # modernize
    "ANN", # flake8 type annotations
    "S",   # flake8 bandit
    "B",   # flake8 bugbear
    "C4",  # flake8 comprehensions
    "COM", # flake8 commas
    "T20", # flake8 print
    "SIM", # flake8 simplify
    "ARG", # flake8 unused arguments
    "DTZ", # flake8 datetimes
    "Q",   # flake8 quotes
    "TCH", # flake8 typecheck
    "D",   # pydocstyle
    "RUF", # ruff-specific rules
]
line-length = 100
indent-width = 4
# Use pydocstyle Google convention
# See https://www.pydocstyle.org/en/stable/error_codes.html
ignore = [
    "D203", "D213", "D215", "D400", "D401", "D404", "D406",
    "D407", "D408", "D409", "D413",
    "ANN101",
]
exclude = ["__init__.py"]
fixable = ["ALL"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"

[tool.ruff.per-file-ignores]
"test*" = ["D", "ANN"]

